@layer tailwind-base, antd;

@layer tailwind-base {
	@tailwind base;
}
@tailwind components;
@tailwind utilities;
body {
	padding: 0;
	margin: 0;
}

.navbar3 {
	background-color: white;
	color: #2b6988;
	height: 50px;
	display: flex;
	justify-content: flex-end;
	overflow: hidden;
	position: relative;
	border-right: 100px solid white;
	border-left: 100px solid white;
	font-size: 25px;
}

.navbar4 {
	align-items: center;
}

.running-text {
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	right: 100%;
	animation: runText 25s linear infinite;
	/*width: 100%;*/
}

@keyframes runText {
	from {
		right: -100%;
	}

	to {
		right: 100%;
	}
}

.nav-link.active {
	font-weight: bold; /* Độ đậm chữ */
	text-decoration: underline; /* Gạch chân */
	border-bottom: 2px solid rgb(99, 99, 99); /* Border xung quanh liên kết */
	border-radius: 5px; /* Bo tròn góc của border */
}

.dropdown-item:hover {
	background-color: #90c8ff; /* Màu nền khi hover */
	color: black;
	text-decoration: none;
}

.card {
	transition: transform 0.2s;
}

.card:hover {
	transform: scale(1.05);
}
.text-truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.text-center {
	text-align: center;
}
.card {
	position: relative;
	overflow: hidden;
}

.card-img-top {
	height: 200px;
	object-fit: cover;
	transition: opacity 0.3s ease;
}

.card-body {
	position: relative;
	z-index: 1;
}

.text-overlay {
	transition: opacity 0.3s ease;
}

.card:hover .card-img-top {
	opacity: 0.5; /* Làm mờ ảnh khi hover */
}

.card:hover .text-overlay {
	color: rgba(255, 255, 255, 0.7); /* Làm mờ văn bản khi hover */
}

.button-overlay {
	opacity: 0;
	transition: opacity 0.3s ease;
	background: rgba(0, 0, 0, 0.5); /* Optional: semi-transparent background */
	padding: 10px;
	border-radius: 5px; /* Optional: rounded corners */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2; /* Ensure buttons are on top */
}

.card:hover .button-overlay {
	opacity: 1;
}
/* CSS tùy chỉnh cho placeholder */
.form-control::placeholder {
	color: #000; /* Màu chữ của placeholder */
	opacity: 1; /* Đảm bảo placeholder không bị mờ */
}

/* Đảm bảo nền ô nhập liệu là trắng */
.form-control {
	background-color: #fff; /* Nền trắng cho ô nhập liệu */
	border: 1px solid #ced4da; /* Đường viền để giữ kiểu Bootstrap */
}
/* Đảm bảo nút không tràn ra ngoài ô nhập liệu */
.input-group {
	display: flex;
}

.input-group .form-control {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.input-group .btn {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	margin-left: -1px; /* Loại bỏ khoảng cách giữa input và nút */
	display: flex;
	align-items: center;
	justify-content: center;
}

.input-group .btn i {
	font-size: 1rem; /* Kích thước biểu tượng */
}
